.home-swiper {
    max-width: 360px;
    position: relative;
    margin: 0 auto;
    padding: 30px 10px ;
        
    @include min760 {
        max-width: 730px;
    }
    @include min1024 {
        max-width: 1080px;
    }
    @include min1440 {
        max-width: 1440px;
    }


    
}
.swiper-home__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h2 {
        font-family: $fontUbuntu;
        font-size: 1.2rem;
        font-weight: bold;
        color: $orange;
        
    }
    i::before {
        transform: rotate(180deg);
        color: $orange;
        font-size: 1.5rem;
        position: relative;
        top: 2px;
    }
    a {
        color: $orange;
        font: normal 1rem $fontUbuntu;
        position: relative;
        &:hover {
            &::before {
                content: '';
                position: absolute;
                display: block;
                z-index: 1;
                bottom: -3px;
                left: 0;
                width: 70%;
                height: 2px;
                background: $orange;
            }

        }
    }
}

.home-swiper__wrapper {
    height: 500px;
    max-width: 100%; 
    @include min760 {
        height: 430px;
    }
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    color: #fff;
    background: #C4C4C4;
    
}
.swiper-pagination-bullets {
    position: relative;
    bottom: -20px;
}
 .swiper-pagination-bullet-active {
    background: $orange;
}
 .swiper-button-next::after,
 .swiper-button-prev::after {
    color: $orange ;
    font-size: 40px;  
    font-weight: bold;
}
.swiper-but-l {
    @include min1550 {
        display: block;
    }
    display: none;
    position: absolute;
    left: -40px;

}
.swiper-but-r {
    @include min1550 {
        display: block;
    }
    display: none;
    position: absolute;
    right: -40px;
}