

@import "staff/reset";
@import "staff/icon";
@import "staff/font";

//=============================
@import "./staff/variables";
@import "./staff/mixins";
@import "./staff/basic";
@import "staff/widget-nav";
// @import "";

//============================

 .home-main {
    width: 100%;
    height: 100%;
    background: $basicGrey;
    //padding: 10px;
 } 
 // ===========================
@import "staff/header";
@import "home/board";
@import "home/box-sell";

@import "staff/swiper";
@import "home/swiper-home-veget";
@import "staff/product-card";
@import "staff/feedback-card";

@import "home/sales";
@import "home/app-mobile";
@import "home/promo";
@import "home/feedback";

@import "staff/footer";