@import "./staff/mixins.scss";
@import "./staff/variables.scss";

@import "./staff/navigation-body";
//================================
@import "./staff/vacancies-card";

.main-vacancies
.section-catalog {
    @include min1440 {
        display: none;
    }
}
.main-vacancies {
  width: 100%;
  background: $basicGrey;
}
.main-vacancies-wrapper {
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 5px;
    h2 {
      font: 300 2.5rem $fontUbuntu;  
      margin-bottom: 30px;
    }
}
.main-vacancies-body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 200px;
}