.swiper-catalog {
    width: 100%;
}
.swiper-catalog-wrapper {
    width: 100%;
    position: relative;
}

.swiper-pagination-catalog {
    max-width: 120px;
    margin-left: calc(100% - 120px);
    
    
}
.swiper-pagination-catalog
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

.swiper-pagination-catalog
.swiper-pagination-bullet-active {
    background: $orange;
}
