.feedback-card {
    box-sizing: border-box;
    padding: 20px;
    color: #535353;
    width: 100%;
    max-width: 485px;
    height: 300px;
    max-height: 300px;
    background: #F3F3F3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    p {
        font-size: min(4vw, 1.2rem);
        font-family: $fontUbuntu;
        font-weight: 400;
    }
}

.feedback-card__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10%;
    min-height: 150px;
    img {
        width: 115px;
        height: 115px;
        object-fit: contain;
        border-radius: 50%;
        flex: 1 0 115px;
    }
}
.feedback-card__name {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    @include min450 {
        flex-direction: row;
    }
    span {
        font-size: min(4vw, 1.2rem);
        font-family: $fontUbuntu;
        font-weight: bold;
        
        margin-left: 5px;
    }
}