.product-card-catalog {
    width: 100%;
    height: 250px;
    border-radius: 5px;
    background: #ccc;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.catalog-card-title {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    @include min760 {
        top: auto;
        left: 30px;
        bottom: 10px;
    }
    h2 {
        font: 400 1rem $fontUbuntu ; 
    }
    span { 
       font: bold 2rem $fontUbuntu ;      
    }
}