.about-main {
    background: $basicGrey;
    padding: 5px;
}
.about-main-wrapper {
    max-width: $maxWidth;
    margin: 0 auto;
}
.about-main
.section-catalog {
    @include min1440 {
        display: none;
    }
}
